@tailwind base;
@tailwind components;
@tailwind utilities;
 
.custom-img{
    background-image: url("/pictures/pro5.avif");
}

.promo-1{
    background-image: url("/pictures/pro3.jpg");
}
.promo-2{
    background-image: url("/pictures/pro7.jpg");
}
.myDiscount{
    transform: rotate(-90deg) translate(0, -69px);
transform-origin: 100% 0;
}